In [1]:
1+2

3

In [2]:
2 * 4

8

In [3]:
1/2.0

0.5

In [4]:
2 ** 4

16

In [5]:
2 + 3 * 5 + 5

22

In [6]:
(2 + 3) * (5 + 5)

50

In [7]:
8 % 2

0

In [8]:
9 % 2

1

In [9]:
var = 8

In [10]:
var

8

In [11]:
x = 10
y = 9

In [12]:
x + y

19

In [13]:
#strings

In [14]:
x = 'hello'

In [15]:
x

'hello'

In [16]:
print(x)

hello

In [18]:
age = 9
name = "hrishik"

In [19]:
'my name is {} and age {}'.format(name,age)

'my name is hrishik and age 9'

In [20]:
'my name is {one} and age {two}'.format(one=name,two=age)

'my name is hrishik and age 9'

In [21]:
s = "hello"

In [22]:
s[0]

'h'

In [23]:
s[0:]

'hello'

In [24]:
s[:3]

'hel'

In [25]:
s[1:5]

'ello'

In [26]:
my_list = ['a','b','c']

In [27]:
my_list

['a', 'b', 'c']

In [28]:
my_list.append('d')

In [29]:
my_list

['a', 'b', 'c', 'd']

In [30]:
my_list[0]

'a'

In [31]:
my_list[1:4]

['b', 'c', 'd']

In [32]:
my_list[1:3]

['b', 'c']

In [33]:
my_list[0] = 'new value'

In [34]:
my_list

['new value', 'b', 'c', 'd']

In [35]:
nest = [1,2,[3,4]]

In [36]:
nest

[1, 2, [3, 4]]

In [37]:
nest[2]

[3, 4]

In [39]:
nest[2][1]

4

In [40]:
nest[2][0]

3

In [41]:
#dictionary

In [44]:
d = {'key1':'value', 'key2':123}

In [46]:
d['key2']

123

In [47]:
d = {'key': [1,2,3]}

In [48]:
d

{'key': [1, 2, 3]}

In [49]:
d['key']

[1, 2, 3]

In [50]:
d['key'][1]

2

In [53]:
d = {'key': {'innerkey':[1,2,3]}}

In [54]:
d['key']

{'innerkey': [1, 2, 3]}

In [55]:
d['key']['innerkey'][1]

2

In [56]:
#Tuple

In [57]:
t = (1,2,3)

In [58]:
t[1]

2

In [59]:
#set

In [60]:
s = {1,2,3}

In [61]:
s.add(4)

In [62]:
s

{1, 2, 3, 4}

In [63]:
#comparison

In [64]:
 2 > 3

False

In [65]:
2 < 3

True

In [66]:
2 != 3

True

In [67]:
1 < 2 and 4 > 3

True

In [68]:
1 < 2 and 4 < 3

False

In [69]:
1 < 2 or 4 < 3

True

In [70]:
#If ... Else

In [71]:
if 2 < 3:
    print('true')

true

In [72]:
if 2==3:
    print('it is true')
else:
    print('it is false')

it is false

In [2]:
#loop

In [3]:
seq = [1,2,3,4,5]

In [4]:
for item in seq:
    print(item)

1
2
3
4
5

In [7]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [8]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [10]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [11]:
x =[1,2,3,4]

In [13]:
y = []
for i in x:
    y.append(i**2)

In [14]:
print(y)

[1, 4, 9, 16]

In [16]:
[i**2 for i in x]

[1, 4, 9, 16]

In [17]:
y =[i**2 for i in x]

In [18]:
y

[1, 4, 9, 16]

In [19]:
#functions

In [20]:
def my_func(name):
    print("hello "+ name)

In [21]:
my_func("world")

hello world

In [22]:
def sqr(num):
    return num**2

In [23]:
print(sqr(4))

16

In [28]:
def times2(num):
    return num * 2

In [30]:
times2(5)

10

In [24]:
#map()

In [25]:
seq =[1,2,3,4,5]

In [31]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [32]:
#lambda

In [38]:
t = lambda var:var*2

In [39]:
t(6)

12

In [40]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [41]:
#filter

In [42]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

In [43]:
#method

In [44]:
s = "My name is Jobs"

In [45]:
s.upper()

'MY NAME IS JOBS'

In [46]:
s.split()

['My', 'name', 'is', 'Jobs']

In [51]:
tweet ='Go sports! #sports'

In [53]:
tweet.split()

['Go', 'sports!', '#sports']

In [58]:
tweet.split('#')[1]

'sports'

In [59]:
#tuples

In [60]:
x = [(1,2),(3,4),(4,5)]

In [61]:
x[1]

(3, 4)

In [62]:
x[1][1]

4

In [64]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
4
5